<nav class="navbar navbar-expand-md bg-white border-bottom py-2 sticky-top">
  <div class="container-fluid">
    
    <!-- Logo -->
    <a class="navbar-brand fs-4" href="/listings">
      <i class="fa-solid fa-compass text-danger"></i>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">

      <!-- Left: Explore -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/listings">Explore</a>
        </li>
      </ul>

      <!-- Center: Search -->
      <form class="d-flex me-3" role="search">
        <input class="form-control rounded-pill px-3" type="search" placeholder="Search destinations">
        <button class="btn btn-danger rounded-pill px-3 ms-2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <!-- Right: Auth + Create Listing -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/listings/new">Airbnb your home</a>
        </li>

        <% if (!currUser) { %>

          <% if (page === "login") { %>
            <a class="nav-link fw-bold" href="/signup">Sign up</a>
          <% } else if (page === "signup") { %>
            <a class="nav-link fw-bold" href="/login">Log in</a>
          <% } else { %>
            <a class="nav-link fw-bold" href="/signup">Sign up</a>
            <a class="nav-link fw-bold" href="/login">Log in</a>
          <% } %>

        <% } else { %>
          <a class="nav-link fw-bold" href="/logout">Log out</a>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
